# Auto detect text files and perform LF normalization
* text=auto

# large files tracker: 
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.weights filter=lfs diff=lfs merge=lfs -text

# exclude file size counting on github: 
*.nb          linguist-vendored
*.ipynb       linguist-vendored
*.bat         linguist-vendored 
*.tex         linguist-vendored
build/**      linguist-vendored
docs/**       linguist-vendored
htmlcov/**    linguist-vendored
.untracked/** linguist-vendored
