# include in the version
# ======================
#   c4dynamics 
#   datasets 
#   docs 
#     source
#     .nojekyll  
#   examples 
#     !out 
#   programs 
#     !out    
#   tests 
#   make.bat 
#   code of conduct 
#   conda installation ? 
#   contributing.md 
#   readme.md 
#   requirements.txt
#   c4dynamics_env.yaml ?    


# files in the base 
# =================
Thumbs.db 
.gitignore 
.gitattributes
x.png 
pyrightconfig.json 


# files in subfolders 
# ===================
c4dynamics/filters/a.py 
c4dynamics/filters/kalman_v0.py 
c4dynamics/filters/kalman_v1.py 
examples/docs_examples.ipynb 
examples/run_examples.ipynb 
examples/filters/07-Kalman*.ipynb 
examples/filters/04-One-Dimensional-Kalman-Filters.ipynb


# folders in the base 
# ===================
__pycache__ 
.pytest_cache/ 
.venv/ 
.vscode/ 
untracked/ 
build/
c4dynamics.egg-info/
dist/


# subfolders 
# ==========
examples/_out 
programs/_out 
tests/_out  
examples/temp 
programs/temp 






