__pycache__/
__pycache__/
dontsync/
# doc/dontsync/
c4dout.txt
c4dout.xlsx
examples/freefallball.png
doc/posts - Shortcut.lnk
prll_output.txt
*.pyc
doc/MilHandbook Missile flight simulation.pdf.lnk
*.pyc
body/__pycache__/datapoint.cpython-37.pyc
body/__pycache__/rigidbody.cpython-37.pyc
doc/posts.lnk
doc/Science.lnk
c4dout_1.xlsx
.gitignore
c4dout_a.txt
c4dout_2.xlsx
prof.txt
examples/freefall_2prll.py
examples/hammer.py
*.pyc
body/__pycache__/datapoint.cpython-37.pyc
body/__pycache__/rigidbody.cpython-37.pyc
c4dout_1.txt
examples/dof6sim_aviva_old.py
