# Auto detect text files and perform LF normalization
* text=auto
D:/gh_repo/C4dynamics/src/main/resources/detectors/yolo/v3/tensorflow/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
D:/gh_repo/C4dynamics/src/main/resources/detectors/yolo/v3/yolov3.weights filter=lfs diff=lfs merge=lfs -text
src/main/resources/detectors/yolo/v3/tensorflow/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
src/main/resources/detectors/yolo/v3/yolov3.weights filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.weights filter=lfs diff=lfs merge=lfs -text
