# oldest releases support Python 3.7 are 1.20, 1.21
# Releases made after that only support Python 3.8 and above.
# https://endoflife.date/numpy#:~:text=Python%20Support&text=NumPy%20stopped%20supporting%20Python%203.7,support%20Python%203.8%20and%20above.
# pip install -r /path/to/requirements.txt
# TODO move cv2 to dev or optional. when image is necessary use pillow 
imageio>=2.37.0
matplotlib>=3.9.2
natsort>=8.3.1
numpy>=1.26.0
opencv-python>=4.11.0.86
pooch>=1.8.0
scipy>=1.13.0
